<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <context:annotation-config/>-->
    <context:component-scan base-package="academy.learnprogramming"/>
    <!--    <bean id="numberGenerator" class="academy.learnprogramming.NumberGeneratorImpl"/>-->
    <!--    Constructor Based Dependency Injection -->
    <!--    <bean id="game" class="academy.learnprogramming.GameImpl" >-->
    <!--        <constructor-arg ref="numberGenerator"/>-->
    <!--    </bean>-->

    <!--    Setter based Dependency Injection-->
    <!--    <bean id="game" class="academy.learnprogramming.GameImpl" init-method="reset">-->
    <!--        <property name="numberGenerator" ref="numberGenerator">-->
    <!--            &lt;!&ndash;Name of the Property of the class and ref is the reference to the bean&ndash;&gt;-->
    <!--        </property>-->
    <!--    </bean>-->
    <!--Post Construct-->
    <!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <!--    <bean id="game" class="academy.learnprogramming.GameImpl"/>-->

</beans>